<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content p-4">
      <h4 class="mb-3">Insertar Usuario</h4>

      <form (ngSubmit)="onGuardar()">
        <div class="mb-3">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="nuevoUsuario.Nombre" name="nombre" class="form-control" required />
        </div>

        <div class="mb-3 position-relative">
          <label>Contraseña</label>
          <input [type]="mostrarPassword ? 'text' : 'password'" [(ngModel)]="nuevoUsuario.Contrasena" name="contraseña"
            class="form-control" required />
          <button type="button" (click)="togglePassword()"
            class="btn btn-sm btn-link position-absolute end-0 top-50 translate-middle-y">
            <i class="bi" [ngClass]="mostrarPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>

        <div class="mb-3">
          <label>Puesto</label>
          <input type="text" [(ngModel)]="nuevoUsuario.Puesto" name="puesto" class="form-control" />
        </div>

        <div class="mb-3">
          <label>Estado</label>
          <select [(ngModel)]="nuevoUsuario.Estado" name="estado" class="form-select" required>
            <option [value]="1">Alta</option>
            <option [value]="0">Baja</option>
          </select>
        </div>

        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-secondary" (click)="cancelar.emit()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
